.flex-container {
	display: flex;
	height: 100vh;
  justify-content: space-evenly;
	align-items: center;
  
}





/* .logo-container{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;

} */

.thi{
    width: 98px;
    
    }
    
.h1{
    
      font-family: 'Goldman', cursive;
        font-size: 4rem;
    }

